* {
    padding: 0px;

    margin: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(135deg,rgba(34, 55, 195, 1) 20%, rgba(187, 45, 253, 1) 100%);
    color: white;
    text-shadow: 2px 2px 1px hsla(0, 0%, 0%, 0.5);

    overflow-x: hidden;
}

table, td, th {
    text-align: center;
    
    border-style: solid;
    border-width: 1px;
    border-collapse: collapse;
}

table {
    width: 100vw;
    height: 100vh;
}

table ul {
    list-style: none;
}

img {
    width: 250px;
    box-shadow: 2px 2px 10px hsla(0, 0%, 0%, 0.5);

    border-radius: 10px;
}